@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixins.scss";

.wrapperInvoicesBoxes {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .invoicesBoxData {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    min-width: 250px;
    min-height: 150px;
    padding: 20px;
    opacity: 0;
    animation: fade-in-card 1s forwards;

    svg {
      background: $primaryColor2;
      border-radius: 50%;
      font-size: 33px;
      color: $primaryColor;
      padding: 5px;
    }
    h3,
    p {
      margin: 0;
    }
    p {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
    }
    h3 {
      font-size: 25px;
      font-weight: 600;
    }
  }
  @for $i from 1 through 4 {
    $delay: 0.15s * $i;
    .invoicesBoxData:nth-child(#{$i}) {
      animation-delay: $delay;
    }
  }
}

@keyframes fade-in-card {
  0% {
    opacity: 0;
    transform: translate(130px, 150px) rotate3d(1, 1, 1, -125deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotate3d(1, 1, 1, 0deg);
  }
}
