@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixins.scss";

.containerDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1000px;
  .footerContainerInvoiceDetails {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    animation: fade-in-invoice 0.5s;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      background: $primaryColor;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      border: 1px solid transparent;
      border-radius: 5px;
      margin-left: auto;
      padding: 10px 5px;
      min-width: 150px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
      &:hover {
        background: #ffffff;
        border: 1px solid #08afc9;
        color: $primaryColor;
      }
    }
  }

  .invoiceDetails {
    @include customBoxStyles;
    position: relative;
    margin-top: 27px;
    padding: 25px 40px 35px;
    font-family: "Asap", sans-serif;
    min-height: 400px;
    animation: fade-in-invoice 0.5s;
    .deleteInvoice {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px;
      color: #6e6e6e;
    }
    .edit {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
      display: flex;
      width: fit-content;
      gap: 5px;
      font-size: 14px;
      line-height: 14px;
      color: $primaryColor;
    }
    .gray-text {
      color: $grayText;
      font-weight: 500;
      font-size: 14px;
      margin: 0;
    }
    .statusSide {
      display: flex;
      justify-content: space-between;
      color: $primaryColor;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      button {
        cursor: pointer;
        background: $primaryColor;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px 15px;
        min-width: 120px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        transition: 0.5s;
        &:hover {
          background: #ffffff;
          border: 1px solid #08afc9;
          color: $primaryColor;
        }
      }
    }
    .detailsSide {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $borderColor;
      padding-bottom: 20px;
      .invoice {
        h4 {
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 10px;
        }
        .labelValue {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
        }
      }
      .client {
        display: flex;
        flex-direction: column;
        width: 250px;
        h4 {
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 5px;
        }
      }
    }
    .bottomDetails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px;
      h4 {
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
      }
      .address {
        max-width: 200px;
      }
      p {
        margin: 0;
      }
    }
  }
  .invoicePaymentDetails {
    margin-top: 10px;
    padding: 15px;
    font-family: "Asap", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3 {
      color: $grayFadeText;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .flexInvoicePaymentDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      .row {
        display: flex;
        width: 100%;
        gap: 10px;
      }
      span {
        color: $grayFadeText;
      }
    }
  }
}

@keyframes fade-in-invoice {
  0% {
    opacity: 0;
    transform: translate(50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
