@import "../../assets/scss/colors.scss";

.clients {
  display: flex;
  flex-direction: column;

  .headerClients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    h3 {
      color: $primaryColor;
      font-size: 24px;
      margin: 0;
    }
  }
  .actionsTable {
    display: flex;
    gap: 20px;
    align-items: center;
    svg {
      cursor: pointer;
      font-size: 22px;
      color: $primaryColor;
      transition: 0.5s;
      &.delete {
        color: #f15454;
      }
      &:hover {
        color: black;
      }
    }
  }
  .loadingContainer {
    position: relative;
    height: 400px;
    width: 100%;
    background: #fff;
  }
}
