@import "../../assets/scss/colors.scss";

.ClientModal {
  position: fixed;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 20px 40px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #f8f8f8;
  animation: fade-in 0.8s;
  & > svg {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 100px;
    color: $primaryColor;
    opacity: 0.3;
  }
  h3 {
    color: $primaryColor;
    font-size: 22px;
    margin-bottom: 30px;
  }
  label {
    font-family: "Asap", sans-serif;
    font-weight: 600;
    color: #000000;
    padding: 2px 0px;
  }
  input,
  textarea {
    padding: 10px 15px;
    font-family: "Asap", sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    background: #f8fafc;
    box-shadow: 0 0 1px 1px rgba(59, 62, 65, 0.2);
    resize: none;
    width: 100%;
    transition: 0.5s;
    &:focus {
      outline: none;
      background: #f5f9fc;
      box-shadow: 0 0 1px 1px rgba(59, 62, 65, 0.5);
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 400px;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.gap-10 {
      gap: 10px;
    }
  }
}

.coverClientModal {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
