@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/mixins.scss";

.invoicesList {
  @include customBoxStyles;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 100px);

  .scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ced2da #ddd;
    padding: 0 10px;
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom right, #ced2da 0%, #ddd 100%);
      border-radius: 5px;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  }
  .invoiceItem {
    &.empty {
      text-align: center;
      padding: 50px 10px;
    }
    padding: 20px 10px;
    &:not(&:nth-last-of-type(1)) {
      border-bottom: 1px solid $borderColor;
    }

    .client {
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        cursor: pointer;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    .details {
      display: flex;
      gap: 10px;
      align-items: center;
      span:nth-child(2) {
        color: $grayFadeText;
        font-size: 14px;
        border-left: 2px solid $borderColor;
        padding-left: 10px;
      }
      span:nth-child(1),
      span:nth-child(3) {
        color: $primaryColor;
        text-transform: uppercase;
        font-size: 12px;
      }
      span:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}
