@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/mixins.scss";

.invoicesList {
  @include customBoxStyles;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow: auto;
  .invoiceItem {
    padding: 20px 10px;
    &:not(&:nth-last-of-type(1)) {
      border-bottom: 1px solid $borderColor;
    }

    .client {
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        cursor: pointer;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        color: $grayFadeText;
        font-size: 14px;
      }
      span:nth-child(2) {
        color: $primaryColor;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}
