@import "../../../assets/scss/colors.scss";

.itemsInvoice {
  position: absolute;
  left: 102%;
  top: 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 50px;
  min-height: 300px;
  min-width: 400px;
  white-space: nowrap;
  animation: fade-in-modal-items 1s forwards !important;
  > p {
    color: $primaryColor;
    font-family: "Raleway", sans-serif;
  }
  .list-items-invoice {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    font-family: "Asap", sans-serif;
    .body-items-invoice {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100px;
      overflow: auto;
    }
    .row-item-invoice {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      &.header-item-invoice {
        position: sticky;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 10px;
        > div {
          font-size: 16px;
          font-weight: 600;
        }
      }
      > div {
        white-space: normal;
        font-size: 12px;
      }
      > div:nth-of-type(1) {
        width: 100px;
        font-weight: 500;
      }
      > div:nth-of-type(2) {
        width: 150px;
      }
      > div:nth-of-type(3) {
        width: 80px;
      }
      > div:nth-of-type(4) {
        width: 80px;
      }
    }
  }
  .formAddItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    span {
      font-size: 12px;
      color: $grayFadeText;
    }
    h4 {
      align-self: flex-start;
      margin: 0;
      font-family: "Asap", sans-serif;
      font-weight: 400;
      color: $primaryColor;
    }
    .inputRow {
      display: flex;
      gap: 10px;
      width: 100%;
      input {
        padding: 8px 7px;
        font-family: "Asap", sans-serif;
        border-radius: 10px;
        border: 1px solid #cfcfcf;
        width: 100%;
        &:focus {
          outline: none;
        }
        &:nth-of-type(2) {
          width: 80px;
        }
        &:nth-of-type(3) {
          width: 80px;
        }
      }
    }
    .textAreaRow {
      width: 100%;
      textarea {
        &:focus {
          outline: none;
        }
        padding: 8px 7px;
        font-family: "Asap", sans-serif;
        border-radius: 10px;
        border: 1px solid #cfcfcf;
        width: 100%;
        resize: none;
      }
    }
  }
}

@keyframes fade-in-modal-items {
  0% {
    opacity: 0;
    translate: 300px 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
