@import "../../../assets/scss/colors.scss";

.newInvoiceModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  background: rgb(255, 255, 255);
  z-index: 30;
  animation: fade-in 0.5s ease-out;
  & > *:nth-child(odd):not(svg) {
    opacity: 0;
    animation: 0.5s fade-in-right forwards ease-out;
  }
  & > *:nth-child(even):not(svg) {
    opacity: 0;
    animation: 0.5s fade-in-left forwards ease-out;
  }
  @for $i from 1 through 10 {
    $delay: 0.1s * $i;
    & > *:nth-child(#{$i}):not(svg) {
      animation-delay: $delay;
    }
  }
  > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 200px;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none;
  }
  h3 {
    color: $primaryColor;
  }
  .MuiInputBase-root {
    border-radius: 10px;
    font-family: "Asap", sans-serif;
    padding: 0 15px 0 5px;
  }
  label {
    color: black;
    font-family: "Asap", sans-serif;
  }
  .footer {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > p {
      min-height: 25px;
    }
  }

  .footer > button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryColor;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    font-family: "Asap", sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 160px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    &.disabled {
      pointer-events: none;
      background: #3fda99;
    }
    &:hover {
      background: #ffffff;
      color: $primaryColor;
      border: 1px solid $primaryColor;
    }
    svg {
      font-size: 20px;
    }
  }
}

.coverModal {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000060;
  height: 100dvh;
  width: 100dvw;
  z-index: 20;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.7) translate(-70%, -70%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate(-50px, 70px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate(50px, 70px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
