@import "../../../assets/scss/colors.scss";

.newInvoiceModal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  background: #ffffff;
  z-index: 30;
  animation: fade-in-new-invoice 0.8s forwards;
  & > *:nth-child(odd):not(svg) {
    opacity: 0;
    animation: 0.5s fade-in-right forwards ease-out;
  }
  & > *:nth-child(even):not(svg) {
    opacity: 0;
    animation: 0.5s fade-in-left forwards ease-out;
  }
  @for $i from 1 through 10 {
    $delay: 0.5s + 0.1s * $i;
    & > *:nth-child(#{$i}):not(svg) {
      animation-delay: $delay;
    }
  }
  > svg:not(.close-icon) {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 200px;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none;
  }
  h3 {
    color: $primaryColor;
    font-size: 24px;
    margin-top: 0;
  }
  .MuiInputBase-root {
    border-radius: 10px;
    font-family: "Asap", sans-serif;
    padding: 0 15px 0 5px;
  }
  label {
    color: #3e3e44;
    font-weight: 500;
    font-family: "Asap", sans-serif;
    &.required:after {
      content: " *";
      color: red;
    }
  }
  .amountInput {
    display: flex;
    align-items: center;
    gap: 10px;
    > div {
      width: 100%;
    }
    button {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      color: #0000009a;
      font-weight: 500;
      font-size: 16px;
      font-family: "Asap", sans-serif;
      border: 1px solid #0000003b;
      border-radius: 5px;
      padding: 10px 15px;
      white-space: nowrap;
      transition: 0.5s;
      &.disabled {
        pointer-events: none;
        background: #3fda99;
      }
      &:hover {
        background: #fdfbfb;
        color: $primaryColor;
        border: 1px solid $primaryColor;
      }
      svg {
        font-size: 20px;
      }
    }
  }
  .footer {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > p {
      min-height: 25px;
    }
  }

  .footer > button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryColor;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    font-family: "Asap", sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 160px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    &.disabled {
      pointer-events: none;
      background: #3fda99;
    }
    &:hover {
      background: #ffffff;
      color: $primaryColor;
      border: 1px solid $primaryColor;
    }
    svg {
      font-size: 20px;
    }
  }
  @keyframes fade-in-new-invoice {
    0% {
      opacity: 0;
      translate: -100% -100%;
      scale: 0.1;
    }
    100% {
      translate: -50% -50%;
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translate(-50px, 70px);
    }
    70% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translate(50px, 70px);
    }
    70% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.coverModal {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000060;
  height: 100dvh;
  width: 100dvw;
  z-index: 20;
}
