@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixins.scss";

.sideNav {
  position: sticky;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    svg {
      width: 50px;
    }
  }
  h3 {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #e7e7e7;
    margin: 0;
    padding-left: 15px;
  }
  ul {
    box-shadow: 0 0 1px 1px #c9d3df, 0 0 0 5px $primaryColor;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background: $primaryColor;
    gap: 10px;
    min-height: 60dvh;
    border-radius: 10px;
    padding: 50px 10px 20px;
    margin: 0;
  }
  a {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 170px;
    gap: 20px;
    transition: 0.5s;
    & > .active,
    &:hover:not(.active) {
      border-radius: 10px;
      background: linear-gradient(30deg, #1874856c, #15c7e26c);
      color: #c2f7ff;
    }
    &:hover {
      color: #c2f7ff;
    }
    & > .active {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
    svg {
      font-size: 20px;
    }
  }
}
