.mainView {
  position: relative;
  display: flex;
  flex-direction: row;
  .content {
    position: relative;
    background: #fcfcfc;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
}
