@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;900&family=Open+Sans:wght@300;500;600;700;800&family=Raleway:wght@100;300;500;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiButtonBase-root,
.MuiPickersCalendarHeader-labelContainer {
  font-family: "Asap", sans-serif !important;
}

.error {
  font-size: 14px;
  color: #ec1616;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100dvh;
  padding-top: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
